/* Style Home */

header{
  background-color: #5E5C5C;
}


span.navbar-text{
  font-size: 1.125rem;
  color: #D4D4D4;
  text-align: center;
}


.navbar_collapse{
  background-color: #C9162C;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.navbar a{
  font-size: 1.5rem;
  color: #FFFFFF;
}


.slider{
  background-color: #FFFFFF;
}


#new_product {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #000;
  filter: alpha(Opacity=80);
  opacity: .8;
  display: none; }

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  font-weight: 400; }

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  border: 4px solid #fff; }

.lightbox a img {
  border: none; }

.lb-outerContainer {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #fff; }

.lb-loader, .lb-nav {
  position: absolute;
  left: 0; }

.lb-outerContainer:after {
  display: table; }

.lb-loader {
  top: 43%;
  height: 25%;
  width: 100%; }

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/site/loading.gif) no-repeat; }

.lb-nav {
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

.lb-container > .nav {
  left: 0; }

.lb-nav a {
  outline: 0;
  background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==); }

.lb-next, .lb-prev {
  height: 100%;
  cursor: pointer;
  display: block; }

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/site/prev.png) left 48% no-repeat;
  filter: alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -o-transition: opacity .6s;
  transition: opacity .6s; }

.lb-nav a.lb-prev:hover {
  filter: alpha(Opacity=100);
  opacity: 1; }

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/site/next.png) right 48% no-repeat;
  filter: alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -o-transition: opacity .6s;
  transition: opacity .6s; }

.lb-nav a.lb-next:hover {
  filter: alpha(Opacity=100);
  opacity: 1; }

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.lb-dataContainer:after {
  display: table; }

.lb-data {
  padding: 0 4px;
  color: #ccc; }

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em; }

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: 700;
  line-height: 1em; }

.lb-data .lb-caption a {
  color: #4ae; }

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999; }

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/site/close.png) top right no-repeat;
  text-align: right;
  outline: 0;
  filter: alpha(Opacity=70);
  opacity: .7;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s; }

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: alpha(Opacity=100);
  opacity: 1; }


.btn-primary_view_all {
  color: #fff;
  background-color: #5D5C5C;
  border-color: #000000;
  margin-bottom: 1rem;
}

.news{
  background-color: #C9162C;
}

.news h2 {
    font-size: 2.1875rem;
    font-weight: 600;
    line-height: 2.1875rem;
    color: #FFFFFF;
    text-align: center;
}

.news p {
  margin-bottom: 5.25rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #000000;
  text-align: center; }

.news figure {
    position: relative;
    margin-bottom: 0;
    margin-top: 1rem;
}

.news figure img {
      width: 100%;
}

.news figure figcaption {
      position: absolute;
      top: .5rem;
      right: .5rem;
      bottom: .5rem;
      left: .5rem;
      background-color: #fff;
      opacity: 0;
      padding-top: 3.9375rem;
      transition: opacity .6s ease;
}

.news figure figcaption:hover {
        opacity: .9;
}

.news figure figcaption h3,
.news figure figcaption h4 {
        text-align: center;
}

.news figure figcaption h3 {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.25rem;
        color: #C9162C;
}

.news figure figcaption h4 {
        margin-bottom: 2rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5rem;
        color: #282828;
}

.news figure figcaption a {
        display: block;
        width: 1.625rem;
        margin: auto;
}

.news img{
  width: 15%;
}


.banner{
  height: 15rem;
  background-image: url("../img/produits/banner/001.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h2 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.1875rem;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5rem;
}


.best_buy h2{
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.1875rem;
  color: #000000;
  text-align: center;
  padding-top: 5rem;
}

.best_buy figure {
    position: relative;
    margin-bottom: 0;
    margin-top: 1rem;
}

.best_buy figure img {
      width: 100%;
}

.best_buy figure h3,
.best_buy figure h4,
.best_buy figure p {
        text-align: center;
}

.best_buy figure h3 {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.25rem;
        color: #000000;
}

.best_buy figure h4 {
        margin-bottom: 2rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 0.875rem;
        color: #000000;
}

.best_buy figure p {
      margin-bottom: 2rem;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 0.875rem;
      color: #000000;
}


.banner2 {
  height: 25rem;
  background-image: url("../img/produits/banner/002.jpg");
  background-size: cover;
}


/* .brand {
background-color: #F0E6E6;
} */


.social {
background-color: #C9162C
}

.social iframe {
  width: 100%;
  padding: 8% 0 8% 10%;
}

.social-networks {
  text-align: center;
}

.social-networks a + a {
    margin-left: 5rem;
}

.social-networks a img {
    width: 2.1875rem;
    padding-top: 8rem;
}

.social p {
  color: #FFFFFF;
  border-color: #000000;
  font-size: 1.125rem;
  padding-top: 1rem;
  line-height: 2rem;
}

.social span {
  color: #FFFFFF;
  font-size: 1.5rem;
}

.btn-primary_contact {
    color: #fff;
    background-color: #5D5C5C;
    border-color: #000000;
    margin-bottom: 1rem;
}

footer {
  background-color: #5D5C5C;
}

footer p {
  margin-top: 4.375rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #FFFFFF;
  text-align: center;
}

/* Style Formulaire Contact */


.cc-contact {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 8% 0 8% 25%;
}

.btn-primary {
  margin-left: auto;
  margin-right: auto;
}

.buy_button {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  margin-bottom: 1rem;
}

.btn-primary_buy {
    color: #fff;
    background-color: #C9162C;
    border-color: #007bff;
}

#mapcontact {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 8% 0 8% 0;
}

.banner3 {
  height: 15rem;
  background-image: url("../img/produits/banner/003.jpg");
  filter: brightness(65%);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_background{
  height: 50rem;
  background-image: url("../img/produits/banner/004.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}


/* Style Page Product  */

.product1 {
background-color: #FFFFFF;
}

.product1 h2 {
  font-size: 1.5rem;
  margin-left: 25rem;
  margin-top: 0.725rem;
  display: flex;
  justify-content: flex-end;
}

.product1 p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}


.banner5 {
  height: 45rem;
  background-image: url("../img/produits/banner/005.jpeg");
  filter: brightness(65%);
  background-repeat: no-repeat;
  background-size: cover;
}


.banner6 {
  height: 25rem;
  background-image: url("../img/produits/banner/006.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.banner7 {
  height: 55rem;
  background-image: url("../img/produits/banner/007.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
