/* Style Home */

header{
  background-color: #5E5C5C;
}


span.navbar-text{
  font-size: 1.125rem;
  color: #D4D4D4;
  text-align: center;
}


.navbar_collapse{
  background-color: #C9162C;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.navbar a{
  font-size: 1.5rem;
  color: #FFFFFF;
}


.slider{
  background-color: #FFFFFF;
}


.news{
  background-color: #C9162C;
}

.news h2 {
    font-size: 2.1875rem;
    font-weight: 600;
    line-height: 2.1875rem;
    color: #FFFFFF;
    text-align: center;
}

.news figure {
    position: relative;
    margin-bottom: 0;
    margin-top: 1rem;
}

.news figure img {
      width: 100%;
}

.news figure figcaption {
      position: absolute;
      top: .5rem;
      right: .5rem;
      bottom: .5rem;
      left: .5rem;
      background-color: #fff;
      opacity: 0;
      padding-top: 3.9375rem;
      transition: opacity .6s ease;
}

.news figure figcaption:hover {
        opacity: .9;
}

.news figure figcaption h3,
.news figure figcaption h4 {
        text-align: center;
}

.news figure figcaption h3 {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.25rem;
        color: #C9162C;
}

.news figure figcaption h4 {
        margin-bottom: 2rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 0.875rem;
        color: #282828;
}

.news figure figcaption a {
        display: block;
        width: 1.625rem;
        margin: auto;
}

.news img{
  width: 15%;
}


.banner{
  height: 15rem;
  background-image: url("../img/produits/banner/001.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h2 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.1875rem;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5rem;
}


.best_buy h2{
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.1875rem;
  color: #000000;
  text-align: center;
  padding-top: 5rem;
}

.best_buy figure {
    position: relative;
    margin-bottom: 0;
    margin-top: 1rem;
}

.best_buy figure img {
      width: 100%;
}

.best_buy figure h3,
.best_buy figure h4,
.best_buy figure p {
        text-align: center;
}

.best_buy figure h3 {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.25rem;
        color: #000000;
}

.best_buy figure h4 {
        margin-bottom: 2rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 0.875rem;
        color: #000000;
}

.best_buy figure p {
      margin-bottom: 2rem;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 0.875rem;
      color: #000000;
}


.banner2 {
  height: 25rem;
  background-image: url("../img/produits/banner/002.jpg");
  background-size: cover;
}


/* .brand {
background-color: #F0E6E6;
} */


.social {
background-color: #C9162C
}

.social iframe {
  width: 100%;
  padding: 8% 0 8% 10%;
}

.social-networks {
  text-align: center;
}

.social-networks a + a {
    margin-left: 5rem;
}

.social-networks a img {
    width: 2.1875rem;
    padding-top: 8rem;
}

.social p {
  color: #FFFFFF;
  border-color: #000000;
  font-size: 1.125rem;
  padding-top: 1rem;
  line-height: 2rem;
}

.social span {
  color: #FFFFFF;
  font-size: 1.5rem;
}

.btn-primary_contact {
    color: #fff;
    background-color: #5D5C5C;
    border-color: #000000;
    margin-bottom: 1rem;
}

footer {
  background-color: #5D5C5C;
}

footer p {
  margin-top: 4.375rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #FFFFFF;
  text-align: center;
}

/* Style Formulaire Contact */


.cc-contact {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 8% 0 8% 25%;
}

.btn-primary {
  margin-left: auto;
  margin-right: auto;
}

.buy_button {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.btn-primary_buy {
    color: #fff;
    background-color: #C9162C;
    border-color: #007bff;
}

#mapcontact {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 8% 0 8% 0;
}

.banner3 {
  height: 15rem;
  background-image: url("../img/produits/banner/003.jpg");
  filter: brightness(65%);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_background{
  height: 50rem;
  background-image: url("../img/produits/banner/004.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
